
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: $color-6;
    scroll-behavior: smooth;
    transition: .3s all ease-in-out;
	overflow-x: hidden;
}

// style selection color
::selection {
    background: $color-7;
}


.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
